<aside class="left-menu-wrapper">
	<ul class="list-unstyled">
		<li>
			<a routerLink="/dashboard" routerLinkActive="active">
				<img src="assets/images/icons/dashboard.png" />Dashboard</a>
		</li>
		<li>
			<a routerLink="/rawMaterial" routerLinkActive="active">
				<img src="assets/images/icons/bots.png" />Raw Materialt</a>
		</li>
		<li>
			<a routerLink="/knowledge" routerLinkActive="active">
				<img src="assets/images/icons/knowledge.png" />Knowledge</a>
		</li>
		<li>
			<a routerLink="/userManagement" routerLinkActive="active">
				<img src="assets/images/icons/user-management.png" />User Management</a>
		</li>
		<li>
			<a routerLink="/integration" routerLinkActive="active">
				<img src="assets/images/icons/integration.png" />Integration</a>
		</li>
		<li>
			<a routerLink="/trainBot" routerLinkActive="active">
				<img src="assets/images/icons/train.png" />Train Bot</a>
		</li>
		<li>
			<a routerLink="/alerts" routerLinkActive="active">
				<img src="assets/images/icons/alerts.png" />Alerts</a>
		</li>
		<li>
			<a routerLink="/help" routerLinkActive="active">
				<img src="assets/images/icons/help.png" />Help</a>
		</li>
		<li>
			<a routerLink="/faqs" routerLinkActive="active">
				<img src="assets/images/icons/faqs.png" />Faqs</a>
		</li>
	</ul>
</aside>