<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" width="80">
      </a>
      <span class="sub-title">Shambhu Jawallers</span>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="">
          <span><img src="assets/images/gold.png" width="32"/>Silver</span>
          <span>34000/kg</span>
        </a>
      </li>
      <li>
        <a href="">
          <span><img src="assets/images/gold.png" width="32"/>Gold</span>
          <span>30000/g</span>
        </a>
      </li>

        <!-- <li class="navbar-icons">
          <a href="#" class="notification-icon">
            <img src="assets/images/icons/alerts-grey.png" style="max-width:20px;">
            <sup>18</sup>
          </a>
        </li> -->
        <li class="dropdown user-drop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="user-image"></span>
            <span class="user-name">{{username}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- <li>
              <a href="#">Profile</a>
            </li> -->
            <li>
              <a href="#">Logout</a>
            </li>
          </ul>
        </li>
        <li class="dropdown navbar-icons">
          <a class="settings-icon" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i>
          </a>
          <!-- <ul class="dropdown-menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">One more separated link</a>
            </li>
          </ul> -->
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>